# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/*.code-workspace

# CSV temporários
*.tmp
*.bak

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
01-Data-Collection/books_catalog.csv

# Dados brutos e arquivos processados do projeto de tratamento
02-Data-Treatment/data/raw/*
!02-Data-Treatment/data/raw/.gitkeep

02-Data-Treatment/data/processed/*
!02-Data-Treatment/data/processed/.gitkeep

# Python cache
__pycache__/
*.py[cod]